.br-widget a {
  text-decoration: none;
  border-bottom: 0 none;
}
.black .br-widget a.br-selected:after {
  color: #000000;
}
.black .br-widget a.br-active:after {
  color: #000000;
}
.blue .br-widget a.br-selected:after {
  color: #0050b5;
}
.blue .br-widget a.br-active:after {
  color: #0050b5;
}
.green .br-widget a.br-selected:after {
  color: #009a44;
}
.green .br-widget a.br-active:after {
  color: #009a44;
}
.red .br-widget a.br-selected:after {
  color: #a1000e;
}
.red .br-widget a.br-active:after {
  color: #a1000e;
}
.white .br-widget a.br-selected:after {
  color: #ffffff;
}
.white .br-widget a.br-active:after {
  color: #ffffff;
}
.small .br-widget {
  height: 17px;
}
.large .br-widget {
  height: 38px;
}
.small .br-widget a {
  font-size: 17px;
}
.large .br-widget a {
  font-size: 38px;
}
.form-item.form-item-star-rating-option {
  margin-top: 15px;
  margin-bottom: 15px;
}
